@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.navbar-brand h1 {
    color:red;
    font-family: "DM Serif Display", serif;
    font-weight: bold;
    font-size: 1.2rem;
}